      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
           <div class="section-title">
              <h2>What is ResurrectedOS?</h2>
              <p>ResurrectedOS is the continuation of the works RemodedUI had left behind by the same team and core members that gave you tones of customisation options in RemodedUI
                 alongwith
                 stablity in mind.
              </p>
           </div>
           <div class="row content">
              <div class="col-lg-6">
                 <p>
                 <h3>Some Highlighted Features </h3>
                 </p>
                 <ul>
                    <li><i class="ri-check-double-line"></i> With ResurrectedOS in hand a user can experience the features that MEME lacked. </li>
                    <li><i class="ri-check-double-line"></i> RUi is saftynet passed by default, which means you can use
                       banking apps on the rom without root.
                    </li>
                 </ul>
              </div>
           </div>
        </div>
     </section>
     <!-- End About Section -->