      <!-- ======= Counts Section ======= -->
      <section id="counts" class="counts section-bg">
        <div class="container">
           <div class="row justify-content-end">
              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                 <div class="count-box">
                    <span class="wenusersir">1</span>
                    <p>Users</p>
                 </div>
              </div>
              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                 <div class="count-box">
                    <span data-purecounter-start="0" data-purecounter-end="2000" data-purecounter-duration="2"
                       class="purecounter"></span>
                    <p>Downloads</p>
                 </div>
              </div>
              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                 <div class="count-box">
                    <span data-purecounter-start="2" data-purecounter-end="00" data-purecounter-duration="2"
                       class="purecounter"></span>
                    <p>Devices</p>
                 </div>
              </div>
              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                 <div class="count-box">
                    <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="2"
                       class="purecounter"></span>
                    <p>Devs</p>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- End Counts Section -->