
      <!-- ======= Credits Section ======= -->
      <section id="clients" class="clients section-bg">
        <div class="container">
           <div class="section-title">
              <h3>Thanks to :</h3>
           </div>
           <div class="row">
              <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
                 <img src="assets/img/credits/client-2.png" loading="lazy" class="img-fluid" alt="">
              </div>
              <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center" data-aos="zoom-in">
                 <img src="assets/img/credits/client-3.png" loading="lazy" class="img-fluid" alt="">
              </div>
           </div>
        </div>
     </section>
     <!-- End Credits Section -->