      <!-- ======= Team Section ======= -->
      <section id="team" class="testimonials">
        <div class="container" data-aos="fade-up">
           <div class="section-title">
              <h2>TEAM</h2>
              <p>The brains behind ResurrectedOS who are giving their best to make it the most loved MEME mod rom.</p>
           </div>
           <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">
                 <div class="swiper-slide">
                    <div class="testimonial-item">
                       <p>
                          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                          Founder of ResurrectedOS.
                          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                       </p>
                       <img src="assets/img/team/team-1.jpg" loading="lazy" class="testimonial-img" alt="">
                       <h3>Jᴇғɪɴᴏ ⚝</h3>
                       <h4>Founder</h4>
                    </div>
                 </div>
                 <!-- End item -->

                 <div class="swiper-slide">
                    <div class="testimonial-item">
                       <p>
                          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                          Co-founder of ResurrectedOS.
                          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                       </p>
                       <img src="assets/img/team/sheeta.jpg" loading="lazy" class="testimonial-img" alt="">
                       <h3>NoOB🅓🅔🅥</h3>
                       <h4>Co-Founder</h4>
                    </div>
                 </div>
                 <!-- End item -->

                 <div class="swiper-slide">
                    <div class="testimonial-item">
                       <p>
                          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                          Developer of ResurrectedOS website & core team member.
                          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                       </p>
                       <img src="assets/img/team/burhan.jpg" loading="lazy" class="testimonial-img" alt="">
                       <h3>Burhanverse</h3>
                       <h4>Core, WebDev</h4>
                    </div>
                 </div>
                 <!-- End item -->

                 <div class="swiper-slide">
                    <div class="testimonial-item">
                       <p>
                          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                          Core Team Member & AOSP Dev.
                          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                       </p>
                       <img src="assets/img/team/team-8.jpg" loading="lazy" class="testimonial-img" alt="">
                       <h3>Andy</h3>
                       <h4>Core, AOSP-Dev</h4>
                    </div>
                 </div>
                 <!-- End item -->
                </div>
                <div class="swiper-pagination"></div>
             </div>
          </div>
       </section>
       <!-- End Team Section -->